<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<script src="static/login1.js"></script>
<body>
<form role="form">
				<div class="form-group">
					 <label for="username">username</label><input type="email" class="form-control" id="username" />
				</div>
				<div class="form-group">
					 <label for="password">Password</label><input type="password" class="form-control" id="password" />
				</div>
				<div class="form-group">
					 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />

				</div>


				</div> <button type="submit" class="btn btn-default">Submit</button>
			</form>
</body>
</html>