<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="reg_page.html" method="post">

    <p>user reg</p>
    <table>
        <tr align=center>
            <td>username</td>
            <td><input type="text" name="username"  id="username"></td>
        </tr>

        <tr align=center>
            <td>password</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>

       <tr align=center>
            <td>Power Users：</td>
            <td><input type="radio" checked="checked" name="access" value="high" /></td>
            <td>Normal Users：</td>
            <td><input type="radio" name="access" value="low" /></td>
        </tr>

       <tr align=center>
            <td colspan="2">
                <input type="submit" value="注册">
                <input type="reset" value="reset">
            </td>
        </tr>

    </table>
</form>
</body>
</html>